
*.xcuserstate

soselfie/soselfie.xcodeproj/project.xcworkspace/xcuserdata/tomvankruijsbergen.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.xccheckout

soselfie/soselfie.xcodeproj/xcuserdata/tyg.xcuserdatad/xcschemes/soselfie.xcscheme

soselfie/soselfie.xcodeproj/xcuserdata/tyg.xcuserdatad/xcschemes/xcschememanagement.plist
